# ==============================================================================
# XMI TELEGRAM VIDEO STREAMING SERVER ENVIRONMENT VARIABLES
# ==============================================================================

# Server Port (Render sets this automatically to 10000)
PORT=10000

# Stream Bot Token (from @BotFather)
BOT_TOKEN=8636298353:AAG51fEmR_gKaj8kZ09NV_p-833RJfE5dPU

# Storage Channel ID (where files are stored)
CHANNEL_ID=-1004415998750

# Telegram App Credentials (Get free from https://my.telegram.org -> API development tools)
API_ID=
API_HASH=
